body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}
p {
    text-align: center;
}

ul {
    list-style: none;
}
.container {
    margin: auto;
}

.btn {
    background-color: purple;
    border-color: purple;
    color: white;
    margin: 5px;

}
.btn:hover{
    background-color: rgb(168, 55, 168);
    border-color:  rgb(168, 55, 168);
}

#homepage {
    margin: 50px;
}







